{% extends "layout.html" %}
{% block title %}Начало{% endblock %}

{% block content %}
    <h3>Запись</h3><br>
    <h3>Просмотр</h3><br>
    <form action="" method="post">
        {% for select_form in Submit_form_list.Submit_entries %}
            {{select_form.Submit()}}
        {% endfor %}
    </form>

<!--    <img id="img" src="/static/img/detector.jpg" height="360"><br>-->
<!--    <form method="post" action="">-->
<!--        <br><br>-->
<!--        <button type='submit' name="Stop">Stop</button>-->
<!--    </form>-->
<!--    <script type="text/javascript">-->
<!--        const img = document.getElementById("img")-->

<!--        setInterval( () => {-->
<!--           img.src = "/static/img/detector.jpg?" + new Date().getTime();-->
<!--        }, 2000)-->

<!--    </script>-->
{% endblock %}