{% extends "layout.html" %}
{% block title %}Все помещения{% endblock %}

{% block content %}
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}

      <h3>
          Помещения \
          (<a href = "{{ url_for('new_placement') }}">Добавить помещение</a>)\
          (<a href = "{{ url_for('new_cam') }}">Добавить камеру</a>)
      </h3>

      <table>
         <thead>
            <tr>
               <th>Name</th>
            </tr>
         </thead>

         <tbody>
            {% for place in list %}
               <tr>
                  <td>{{ place.name }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

{% endblock %}