{% extends "layout.html" %}
{% block title %}Добавить помещение{% endblock %}

{% block content %}
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}


      <form action = "" method = "post">
         <label for = 'name'>Имя</label><br>
         <input type = "text" id="name" name = "name" placeholder = "Name" /><br>
         <input type = "submit" value = "Submit" />
      </form>
{% endblock %}